.leftContainer {
  width: 50%;
  background-color: #003e65;
  float: left;
  height: 100vh;
  display: flex;
}

.rightContainer {
  width: 50%;
  background-color: white;
  float: left;
  height: 100vh;
  display: flex;
}

.right {
  width: 100%;
  padding: 25%;
}

.logo {
  width: 400px;
  height: 75px;
}

.line {
  border-bottom: 4px solid white;
  width: 7%;
  margin-top: 65px;
  display: inline-table;
}

.line2 {
  border-bottom: 3px solid black;
  width: 10%;
  margin-top: 65px;
  margin-bottom: 6px;
  /* display: inline-table; */
}

.leftContent {
  font-size: 28px;
  color: white;
  font-weight: bolder;
  margin-top: 65px;
}

.left {
  width: 100%;
  text-align: center;
  padding-top: 20%;
}

.loginName {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 40px;
}

.formStyle {
  width: 400px;
}
